body {
    background-color: rgb(195, 199, 199);
    
  }
  .billet{
    width: 5%;
    height: auto;
  }
  .tonNom{
    font-size: 0.7em; 
  }
  .btnp{
    font-size: 0.7em; 
  }
  .btns{
      height: 70%;
  }
  .form-control{
      height: 70%;
  }